<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<% if current_user %> <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> <% end %> |
<%= link_to 'Back', portfolios_path %>
